%center

  .radius
    %br
    %form
      %form{:method=>:post}
        %input{:type=>:text, :name=>'value', :value=>@value} 
        - if @error
          = @error
        %a{:href=>"/"} random


  - unless @error
    .radius
      %h1= @result.shift

    .radius
      - @result.each do |el|
        = el
        %br

  .small
    = @num
