%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %title int2words
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %link{:rel=>'stylesheet', :href=>'/style.css', :type=>'text/css'}
  %body
    = yield
