body 
  font-family: monospace
  font-size: 25px

h1 
  font-size: 20px
h2 
  font-size: 20px

input
  font-size: 100%

.small 
  font-size: 50%
  
.radius 
  background: #EEE
  margin: 0 auto
  width: 900px
  padding: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border: 1px solid #DDD
  margin-bottom: 5px
